{% extends "users/layout.html" %}


	<!-- Account page -->
	<!-- Account page variables:
		==>Regesteration form:
			variableName          :                       Meaning
			regFirstName          :      Entered user first name in regesteration form
			regLastName           :      Entered user first name in regesteration form
			regUserName           :      Entered user user name in regesteration form
			regEmailAddress       :      Entered Email Address in regesteration form
			regPassword           :      Entered password in regesteration form
			regReEnteredPassword  :      Re-entered password in regesteration form
			regPhoneNumber        :      Entered phone number in regesteration form
			regSubmitBtn          :      Submitt button in regesteration form

		==>Login form:
			variableName         :                       Meaning
			logUserName          :      Entered user name in login form
			logPassword          :      Entered password in login form
			loginBtn             :      Submitt button in login form
	-->


{% block body %}

	<div class="account-page">
		<div class="container">
			<div class="row">
				<div class="col-2">
					<img src="../static/users/images/mainImage.jpg" width="100%" alt="mainImage">
				</div>
				<div class="col-2">
					<div class="form-container">
						<div class="form-btn">
							<span onclick="login()">Login</span>
							<span onclick="register()">Register</span>
							<hr id="Indicator">
						</div>

						<form id="LoginForm" action="{% url 'account' %}" method="post">
							{% csrf_token %}
							<input type="text" placeholder="User name" name="logUserName">
							<input type="password" placeholder="Password" name="logPassword">
							<input type="checkbox" name="loguser" value="seller"><label>Seller</label>
							<button type="submit" class="btn" name="submit" value="login">Login</button>
							<a href="">Forgot password</a>
						</form>

						<form id="RegForm" action="{% url 'account' %}" method="post">
							{% csrf_token %}
					{%if message%}
       					 <div> {{ message }} </div>
    				{% endif %}
							<input type="text" placeholder="First name" name="regFirstName">
							<input type="text" placeholder="Last name" name="regLastName">
							<input type="text" placeholder="User name" name="regUserName">
							<input type="email" placeholder="Email address" name="regEmailAddress">
							<input type="password" placeholder="Password" name="regPassword">
							<input type="password" placeholder="Re-enter password" name="regReEnteredPassword">
							<input type="text" placeholder="Phone number" name="regPhoneNumber">
							<input type="hidden" name="reguser" value="false">
							<input type="checkbox" name="reguser" value="seller"><label>Seller</label>
							<button type="submit" class="btn" name="submit" value="signup">Register</button>
						</form>

					</div>
					{%if message%}
       					 <div> {{ message }} </div>
    				{% endif %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}



	<!-- js for toggle form -->
{% block script %}
	var LoginForm = document.getElementById("LoginForm");
	var RegForm = document.getElementById("RegForm");
	var Indecator = document.getElementById("Indecator");

	function login(){
		RegForm.style.transform = "translateX(300px)";
		LoginForm.style.transform = "translateX(300px)";
		Indicator.style.transform = "translateX(0px)";
	}
	function register(){
		RegForm.style.transform = "translateX(0px)";
		LoginForm.style.transform = "translateX(0px)";
		Indicator.style.transform = "translateX(100px)";
	}	
{% endblock %}