{% extends "users/layout.html" %}


	<!-- Account page -->
	<!-- Account page variables:
		==>Regesteration form:
			variableName         :                       Meaning
			regUserName          :      Entered user name in regesteration form
			regEmailAddress      :      Entered Email Address in regesteration form
			regPassword          :      Entered password in regesteration form
			regSubmitBtn         :      Submitt button in regesteration form

		==>Login form:
			variableName         :                       Meaning
			logUserName          :      Entered user name in login form
			logPassword          :      Entered password in login form
			loginBtn             :      Submitt button in login form
	-->



{%block body%}
	<div class="account-page">
		<div class="container">
			<div class="row">
				<div class="col-2">
					<img src="images/mainImage.jpg" width="100%" alt="mainImage">
				</div>
				<div class="col-2">
					<div class="form-container">
						<div class="form-btn">
							<span onclick="login()">Login</span>
							<span onclick="register()">Register</span>
							<hr id="Indicator">
						</div>

						<form id="LoginForm" action="" method="post">
							<input type="text" placeholder="User name" name="logUserName">
							<input type="password" placeholder="Password" name="logPassword">
							<button type="submit" class="btn" name="loginBtn" value="login">Login</button>
							<a href="">Forgot password</a>
						</form>

						<form id="RegForm" action="" method="post">
							<input type="text" placeholder="User name" name="regUserName">
							<input type="email" placeholder="Email address" name="regEmailAddress">
							<input type="password" placeholder="Password" name="regPassword">
							<button type="submit" class="btn" name="regSubmitBtn" value="register">Register</button>
						</form>


					</div>
				</div>
			</div>
		</div>
	</div>

		<!-- js for toggle form -->
	<script>
		var LoginForm = document.getElementById("LoginForm");
		var RegForm = document.getElementById("RegForm");
		var Indecator = document.getElementById("Indecator");

		function register(){
			RegForm.style.transform = "translateX(0px)";
			LoginForm.style.transform = "translateX(0px)";
			Indicator.style.transform = "translateX(100px)";
		}

		function login(){
			RegForm.style.transform = "translateX(300px)";
			LoginForm.style.transform = "translateX(300px)";
			Indicator.style.transform = "translateX(0px)";
		}
	</script>

{%endblock body%}


