{% extends "users/layout.html" %}

{% block NavBar %}
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'products' %}">Products</a></li>
    <li><a href="">About</a></li>
    <li><a href="">Contact</a></li>
    <li><a href="{% url 'account' %}">Account</a></li>
{% endblock NavBar %}

{% block body %}
<div style="height: 60%">
    <br><br><br><br><br><br>
    <h3>Password reset sent</h3>


    <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

    <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
</div>
{% endblock body %}