{% extends "users/layout.html" %}

{% block body %}
<div style="height: 60%">
    <h3>Password reset</h3>

    <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
    <div class="row">
        <div class="col-2">
            <form method="post" >
                {% csrf_token %}
                {{form.as_p}}
                <button type="Submit" name="Send email"  class="btn">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock body %}