{% extends "products/main.html" %}
{% load static %}

{% block NavBar %}
	{% if request.user.is_authenticated %}
		<li><a href="{% url 'index' %}">Home</a></li>
		<li><a href="{% url 'products' %}">Products</a></li>
		{% if request.user.customer.isseller == True %}
			<li><a href="{% url 'dashboard' %}">Dashboard</a></li>
		{% endif %}
		<li><a href="">About</a></li>
		<li><a href="">Contact</a></li>
		<li><p id="cart-total">{{cartItems}}</p>
			<a href="{% url 'cart' %}"><img src="{% static 'users/images/cartIcon.svg' %}" alt="cart icon" style="position: relative; transform: translateY(6px)" width="30px"class="icon"></a>
		<li><img src="{{request.user.customer.image.url}}" alt="profile pic" id="SellerImg" onclick="dropMenu()">
			<ul id="navDropdownMenu">
				<li><a href="{% url 'wishlist' %}">Wishlist</a></li>
				<li>Help</li>
				<li><a href="{% url 'profile' %}">Profile</a></li>
				<hr>
				<li><a href="{% url 'logout' %}">Logout</a></li>
			</ul>
		</li>
	{% else %}
		<li><a href="{% url 'index' %}">Home</a></li>
		<li><a href="{% url 'products' %}">Products</a></li>
		<li><a href="">About</a></li>
		<li><a href="">Contact</a></li>
		<li><a href="{% url 'account' %}">Account</a></li>
	{% endif %}
{% endblock NavBar %}

{% block body %}
<div class="addProduct-page" >
		<br>
		<div class="container">
			<div class="row">
				<div >
					<div class="addProductform-container" id="form-height">
						<div class="form-btn">
							<span class="txtglowhover">Add Product</span>
						</div>
						<form id="AddProductForm" action="{% url 'addProduct' %}" enctype="multipart/form-data" method="post" autocomplete="off">
							{% csrf_token %}
							<input type="text" placeholder="Product name" name="productName">
							<input type="text" placeholder="Quantity" name="Quantity">
							<input type="number" placeholder="Price" id="Price" name="Price">

							<input type="hidden" name="productId" value="{{productId}}">

							<textarea name="Description" id="descriptionBox" form="AddProductForm" maxlength="3000" placeholder="Add your product description"></textarea>
							<input type="number" id="discountInput" placeholder="Discount if exist (in percentage)" name="discountPercentage">
							<div>
								<label >Select images:</label>
								<label for="Productimg" class="btn"
                                            style="position: absolute;
                                            font-size: 15px;
                                            transform: translateX(5px) translateY(-0.8px); width: 17%; height: 5%; padding: 0; border-radius: 6px">Choose Files</label>
								<input type="file"  id="Productimg" name="Productimg" multiple required accept="image/*">
							</div>

							<div>
							<label for="category">Category:</label>
							<select name="category" id="category" required class="txtglowhover">
								<option disabled selected value > -- select product category -- </option>
								<option value="Clothes" >Clothes</option>
								<option value="Mobiles">Mobiles</option>
								<option value="TVs">TVs</option>
								<option value='Video games and Consols'>Video games and Consols</option>
								<option value="PC">PC</option>
							</select>
							</div>
							<button type="submit" class="btn" name="regSubmitBtn">Add</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<br>
</div>
<br><br>
{% endblock body%}