{% extends "products/main.html" %}
{% load static %}

{% block body%}
<div class="cart-page">
    <div class="small-container cart-page">
        <table>
			<tr>
				<br><br>
				<th>Product</th>
				<th>Quantity</th>
				<th>Subtotal</th>
			</tr>
        </table>
        
        {% for item in items %}
        <tr>
            <td>
                <div class="cart-info">
                    <img src="{{item.product.imageURL}}">
                    <div>
                        <p>{{ item.product.name }}</p>
                        <small>${{item.product.price|floatformat:2}} </small>
                        <br>
                        <a href="" class="txtglowhover">Remove</a>
                    </div>
                </div>
            </td>
            <td><input type="number" value="{{item.quantity}}"></td>
            <td>${{item.get_total}}</td>
        </tr>
        {% endfor %}
        <div class="total-price">
			<table>
				<tr>
					<td>Subtotal</td>
					<td>570.00 L.E.</td>
				</tr>
				<tr>
					<td>Tax</td>
					<td>50.00 L.E.</td>
				</tr>
				<tr>
					<td>Total</td>
					<td>620.00 L.E.</td>
				</tr>

			</table>
		</div>
		<br>
		<div class="OrderButton">
			<button type="submit" class="btn" name="orderBtn">Order</button>
		</div>
    </div>
</div>


{% endblock body%}