<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Cart</title>
	<link rel="stylesheet" href="style.css">
	<!-- Google fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>


	<!-- ----------------------- Header -------------------------->
	<div class="header">
		<div class="container">
			<div class="navbar">
			<div class="logo">
				<!-- change the "images/logo.png" to the desigred image" -->
				<a href="index.html"><script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
					<lottie-player src="https://assets10.lottiefiles.com/packages/lf20_t8je5sxg.json"  background="transparent"  speed="1"  style="width: 120px; "    autoplay></lottie-player></a>
			</div>
			<nav>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="products.html">Products</a></li>
					<li><a href="">About</a></li>
					<li><a href="">Contact</a></li>
					<li><a href="account.html">Account</a></li>
				</ul>
			</nav>
			<a href="cart.html"><img src="images\cartIcon.svg" alt="cart icon" width="30px" height="30px" class="icon"></a>
			</div>
		</div>
	</div>





<!-- Card item detailes -->
<div class="cart-page">
	<div class="small-container cart-page">
		<table>
			<tr>
				<br><br>
				<th>Product</th>
				<th>Quantity</th>
				<th>Subtotal</th>
			</tr>
			<tr>
				<td>
					<div class="cart-info">
						<img src="images/product1.jpg">
						<div>
							<p>Red Printed Tshirt</p>
							<small>Price: 200.00 L.E.</small>
							<br>
							<a href="" class="txtglowhover">Remove</a>
						</div>
					</div>
				</td>
				<td><input type="number" value="1"></td>
				<td>200.00 L.E.</td>
			</tr>
			<tr>
				<td>
					<div class="cart-info">
						<img src="images/product2.jpg">
						<div>
							<p>Red Printed Tshirt</p>
							<small>Price: 150.00 L.E.</small>
							<br>
							<a href="" class="txtglowhover">Remove</a>
						</div>
					</div>
				</td>
				<td><input type="number" value="1"></td>
				<td>150.00 L.E.</td>
			</tr>
			<tr>
				<td>
					<div class="cart-info">
						<img src="images/product3.jpg">
						<div>
							<p>Red Printed Tshirt</p>
							<small>Price: 220.00 L.E.</small>
							<br>
							<a href="" class="txtglowhover">Remove</a>
						</div>
					</div>
				</td>
				<td><input type="number" value="1"></td>
				<td>220.00 L.E.</td>
			</tr>
		</table>


		<div class="total-price">

			<table>
				<tr>
					<td>Subtotal</td>
					<td>570.00 L.E.</td>
				</tr>
				<tr>
					<td>Tax</td>
					<td>50.00 L.E.</td>
				</tr>
				<tr>
					<td>Total</td>
					<td>620.00 L.E.</td>
				</tr>

			</table>
		</div>
		<br>
		<div class="OrderButton">
			<button type="submit" class="btn" name="orderBtn">Order</button>
		</div>


	</div>
</div>






	<!-- ----------------------- Footer -------------------------->
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="footer-col-1">
					<h3>Ask us</h3>
					<a href="">Frequently asked questions.</a>
				</div>
				<div class="footer-col-2">
					<img src="images\logo.svg" alt="logo">

					<p><h2>منـــــكــــــم و الـيــــــكـــــــم</h2></p>
				</div>
				<div class="footer-col-3">
					<h3>Useful Links</h3>
					<ul>
						<li>list item 1</li>
						<li>list item 2</li>
						<li>list item 3</li>
						<li>list item 4</li>
					</ul>
				</div>
				<div class="footer-col-4">
					<h3>Follow us</h3>
					<ul>
						<li>Facebook</li>
						<li>Twitter</li>
						<li>Instagram</li>
						<li>YouTube</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>