{% load static %}
<!-- About, contact, Help, Edit Profile, Logout , FAQ  missing in nav div -->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>E-Commerce</title>
	<link rel="stylesheet" href="{% static 'products/style.css' %}">
	<!-- Google fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript">
		var user = '{{request.user}}'

		function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')

		function getCookie(name) {
		    // Split cookie string and get all individual name=value pairs in an array
		    var cookieArr = document.cookie.split(";");

		    // Loop through the array elements
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
		        if(name == cookiePair[0].trim()) {
		            // Decode the cookie value and return
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		    // Return null if not found
		    return null;
		}
		var cart = JSON.parse(getCookie('cart'))

		if (cart == undefined){
			cart = {}
			console.log('Cart Created!', cart)
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		console.log('Cart:', cart)

	</script>
</head>
<body>
	<!-- ----------------------- Header -------------------------->
	<div class="header">
		<div class="container">
			<div class="navbar">
			<div class="logo">
<!--				animated logo is added 12/12-->
				<a href="{% url 'index' %}"><script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
					<script src="https://unpkg.com/@lottiefiles/lottie-interactivity@latest/dist/lottie-interactivity.min.js"></script>
					<lottie-player id="logoanimation" src="https://assets10.lottiefiles.com/packages/lf20_t8je5sxg.json"  background="transparent"  speed="1"  style="width: 120px; "    autoplay></lottie-player></a>
			</div>
			<nav>
				<ul>
					<li><a href="{% url 'index' %}">Home</a></li>
					<li><a href="{% url 'products' %}">Products</a></li>
					<li><a href="{% url 'dashboard' %}">Dashboard</a></li>
					<li><a href="">About</a></li>
					<li><a href="">Contact</a></li>
					<li><a href="{% url 'account' %}">Account</a></li>
					<!-- Static image trial --> 
					<li><p id="cart-total">{{cartItems}}</p>
						<a href="{% url 'cart' %}"><img src="{% static 'users/images/cartIcon.svg' %}" alt="cart icon" style="position: relative; transform: translateY(6px)" width="30px"class="icon"></a>
					</li>
					<li><img src="images/product1.jpg" alt="profile pic" id="SellerImg" onclick="dropMenu()">
						<ul id="navDropdownMenu">
							<li><a href="{% url 'wishlist' %}">Wishlist</a></li>
							<li>Help</li>
							<li><a href="{% url 'profile' %}">Profile</a></li>
							<hr>
							<li><a href="{% url 'logout' %}">Logout</a></li>
						</ul>
					</li>
				</ul>
			</nav>
			</div>

			{% block body %}
		
			{% endblock %}
		</div>
	</div>





	<script>
		{% block script %}

		{% endblock %}
	</script>







	<!-- ----------------------- Footer -------------------------->
	<div class="footer" onclick="removeMenu()">
		<div class="container">
			<div class="row">
				<div class="footer-col-1">
					<h3>Ask us</h3>
<!--					class txtglowhover added 12/12-->
					<a href="" class="txtglowhover">Frequently asked questions.</a>
				</div>
				<div class="footer-col-2">
					<img src="../../static/users/images/logo.svg" alt="logo">
					<p><h2>منـــــكــــــم و الـيــــــكـــــــم</h2></p>
				</div>	 
				<div class="footer-col-3">
					<h3>Useful Links</h3>
					<ul>
						<li>list item 1</li>
						<li>list item 2</li>
						<li>list item 3</li>
						<li>list item 4</li>
					</ul>
				</div>	
				<div class="footer-col-4">
					<h3>Follow us</h3>
					<ul>
						<li>Facebook</li>
						<li>Twitter</li>
						<li>Instagram</li>
						<li>YouTube</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<script>
		var menu = document.getElementById("navDropdownMenu");
		function dropMenu() {
			menu.style.transform = "translateY(10px) translateX(-90px)";
			menu.style.pointerEvents = "all";
			menu.style.opacity = 1;
		}

		function removeMenu()
		{
			menu.style.transform = "translateY(-20px) translateX(-90px)";
			menu.style.pointerEvents = "none";
			menu.style.opacity = 0;
		}
	</script>
	<script type="text/javascript" src="{% static 'products/js/cart.js' %}"> </script>
</body>
</html>