{% load static %}
{% load currency %}
<!-- About, contact, Help, Edit Profile, Logout , FAQ  missing in nav div -->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>E-Commerce</title>
	<link rel="stylesheet" href="{% static 'products/style.css' %}">
	<!-- Google fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript">
		var user = '{{request.user}}'

		function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')

		function getCookie(name) {
		    // Split cookie string and get all individual name=value pairs in an array
		    var cookieArr = document.cookie.split(";");

		    // Loop through the array elements
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
		        if(name == cookiePair[0].trim()) {
		            // Decode the cookie value and return
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		    // Return null if not found
		    return null;
		}
		var cart = JSON.parse(getCookie('cart'))

		if (cart == undefined){
			cart = {}
			console.log('Cart Created!', cart)
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}

	</script>
</head>
<body>
	<!-- ----------------------- Header -------------------------->
	<div class="header">
		<div class="container">
			<div class="navbar">
			<div class="logo" id="logoanimation" style="width: 130px; height: 130px; transform: translateY(10px)"></div>
			<nav>
				<ul>
					{% block NavBar %}
					{% endblock NavBar %}
				</ul>
			</nav>
			</div>
			<div onclick="removeMenu()">
			{% block body %}
		
			{% endblock %}
		</div>
	</div>





	<script>
		{% block script %}

		{% endblock %}
	</script>







	<!-- ----------------------- Footer -------------------------->
	<div class="footer" onclick="removeMenu()">
		<div class="container">
			<div class="row">
				<div class="footer-col-1">
					<h3>Ask us</h3>
					<!--class txtglowhover added 12/12-->
					<a href="{% url 'faqs' %}" class="txtglowhover">Frequently asked questions.</a>
				</div>
				<div class="footer-col-2">
					<img src="../../static/users/images/logo.svg" alt="logo">
					<p><h2>منـــــكــــــم و الـيــــــكـــــــم</h2></p>
				</div>	 	
				<div class="footer-col-4">
					<h3>Follow us</h3>
					<ul>
						<li>Facebook</li>
						<li>Twitter</li>
						<li>Instagram</li>
						<li>YouTube</li>
					</ul>
				</div>
				<div class="footer-col-3">
					<h3>Currency</h3>
					<form action="{% url 'selectcurrency' %}" method="post">
						{% csrf_token %}
						<select name="currency" id="Currency" onchange="submit()" class="txtglowhover" style="width: 25%">
							{% for currency in CURRENCIES %}
								<option value="{{ currency.code }}"
									{% ifequal currency.code request.session.currency %}selected="selected"{% endifequal %}>
								{{ currency.symbol }} {{ currency.code }}
								</option>
							{% endfor %}
						</select>
						<noscript>
							<input type="submit" value="Set"/>
						</noscript>
					</form>
					<form action="{% url 'savecurrency' %}" method="post">
						{% csrf_token %}
						<input class='btn' type="submit" value="Save Currency" style="width: 60%; text-align: center;"/>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{% static 'products/js/lottie.js' %}"></script>
	<script type="text/javascript" src="{% static 'products/js/logo.js' %}"></script>
	<script type="text/javascript" src="{% static 'products/js/cart.js' %}"> </script>
</body>
</html>