{% extends "products/main.html" %}
{% load static %}

{% block body%}
<<!-- Single product deatils -->
<div class="single-product">
	<div class="small-container">
		<br><br><br>
		<div class="row">
			<div class="col-2">

				<div class="small-img-row">
					<div class="small-img-col">
						<img src="{{product.image.url}}"  class="small-img">
					</div>
				</div>
			</div>
			<div class="col-2">
				<p>Home / {{ product.category }}</p>
				<!-- product seller name -->
				<h1> {{ product.name }}</h1>
				<h3> By Seller:  {{ product.seller }}</h3>
				<div class="rating">
					<i class="fa fa-star"></i>
 					<i class="fa fa-star"></i>
 					<i class="fa fa-star"></i>
					<i class="fa fa-star-half-o"></i>
					<i class="fa fa-star-o"></i>
				</div>
				<h4><strong> ${{product.price|floatformat:2}} </strong></h4>
				<!-- product size  missing -->
				<a  data-product={{product.id}} data-action="add" class="btn update-cart" href="">Add to cart</a>
				<a  data-product={{product.id}} data-action="add" class="btn update-wishlist" href="">Add To Wish List</a>
				<h3>{{ product.description }}</h3>
				<br>
				<p></p>
			</div>  
		</div>
	</div>

	<!--------------------------------- Title ------------------------------> 

	<br><br><br>



 <!-- Recommended products -->


	<div class="small-container">
		<div>
			<h2>Recommended Products</h2>
			<a href="products.html"><p class="txtglowhover">View more</p></a>
		</div>
 		<div class="row">
 			<div class="col-4">
 				<img src="images/Product2Photo1.jpg">
 				<h4>Red Printed T-Shirt</h4>
 				<div class="rating">
 					<i class="fa fa-star"></i>
 					<i class="fa fa-star"></i>
 					<i class="fa fa-star"></i>
 					<i class="fa fa-star"></i>
					<i class="fa fa-star-o"></i>
					<a href="" class="btn_allproducts">add to cart</a>
 				</div>
 				<p>150.00 L.E.</p>
 			</div>
  			<div class="col-4">
 				<img src="images/Product3Photo1.jpg">
 				<h4>Red Printed T-Shirt</h4>
 				<div class="rating">
 					<i class="fa fa-star"></i>
 					<i class="fa fa-star"></i>
 					<i class="fa fa-star"></i>
					<i class="fa fa-star-half-o"></i>
					<i class="fa fa-star-o"></i>
					<a href="" class="btn_allproducts">add to cart</a>
 				</div>
 				<p>220.00 L.E.</p>
 			</div>
 			 <div class="col-4">
 				<img src="images/Product4Photo1.jpg">
 				<h4>Red Printed T-Shirt</h4>
 				<div class="rating">
 					<i class="fa fa-star"></i>
 					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-o"></i>
					<i class="fa fa-star-o"></i>
					<a href="" class="btn_allproducts">add to cart</a>
 				</div>
 				<p>180.0 L.E.0</p>
 			</div>
 			 <div class="col-4">
 				<img src="images/Product5Photo1.jpg">
 				<h4>Red Printed T-Shirt</h4>
 				<div class="rating">
 					<i class="fa fa-star"></i>
 					<i class="fa fa-star"></i>
 					<i class="fa fa-star"></i>
 					<i class="fa fa-star"></i>
					<i class="fa fa-star-half-o"></i>
					<a href="" class="btn_allproducts">add to cart</a>
 				</div>
 				<p>200.00 L.E.</p>
 			</div>
 		</div>
 	</div>

</div>




{% endblock body%}  