{% extends "products/main.html" %}
{% load static %}
{% load currency %}

{% block NavBar %}
	{% if request.user.is_authenticated %}
		<li><a href="{% url 'index' %}">Home</a></li>
		<li><a href="{% url 'products' %}">Products</a></li>
		{% if request.user.customer.isseller == True %}
			<li><a href="{% url 'dashboard' %}">Dashboard</a></li>
		{% endif %}
		<li><a href="">About</a></li>
		<li><a href="">Contact</a></li>
		<li><p id="cart-total">{{cartItems}}</p>
			<a href="{% url 'cart' %}"><img src="{% static 'users/images/cartIcon.svg' %}" alt="cart icon" style="position: relative; transform: translateY(6px)" width="30px"class="icon"></a>
		<li><img src="{{request.user.customer.image.url}}" alt="profile pic" id="SellerImg" onclick="dropMenu()">
			<ul id="navDropdownMenu">
				<li><a href="{% url 'wishlist' %}">Wishlist</a></li>
				<li>Help</li>
				<li><a href="{% url 'profile' %}">Profile</a></li>
				<hr>
				<li><a href="{% url 'logout' %}">Logout</a></li>
			</ul>
		</li>
	{% else %}
		<li><a href="{% url 'index' %}">Home</a></li>
		<li><a href="{% url 'products' %}">Products</a></li>
		<li><a href="">About</a></li>
		<li><a href="">Contact</a></li>
		<li><a href="{% url 'account' %}">Account</a></li>
	{% endif %}
{% endblock NavBar %}

{% block body%}
<!-- Single product deatils -->
<div class="single-product">
	<div class="small-container">
		<br><br><br>
		<div class="row">
			<div class="col-2">

				<div class="small-img-row">
					<div class="small-img-col">
						<img src="{{product.image.url}}"  class="small-img">
					</div>
				</div>
			</div>
			<div class="col-2">
				<p>Home / {{ product.category }}</p>
				<!-- product seller name -->
				<h1> {{ product.name }}</h1>
				<h3> By Seller:  {{ product.seller }}</h3>
				<div class="rating">
						<i class="fa fa-star{% if product.total_review < 0.5 %}-o empty{% elif product.total_review < 1 %}-half-o{% endif %}"></i>
						<i class="fa fa-star{% if product.total_review < 1.5 %}-o empty{% elif product.total_review < 2 %}-half-o{% endif %}"></i>
						<i class="fa fa-star{% if product.total_review < 2.5 %}-o empty{% elif product.total_review < 3 %}-half-o{% endif %}"></i>
						<i class="fa fa-star{% if product.total_review < 3.5 %}-o empty{% elif product.total_review < 4 %}-half-o{% endif %}"></i>
						<i class="fa fa-star{% if product.total_review < 4.5 %}-o empty{% elif product.total_review < 5 %}-half-o{% endif %}"></i>
				</div>
				<h4>In stock: {{product.quantity}}</h4>
                    {% if request.user.customer.new == True and product.discount_price < product.price %}
                    <p><strong> {{product.price|currency:currency.code |floatformat:2}} {{ currency.symbol }} </strong></p>
                    <p><strong style="color:red;">Offer Price {{product.discount_price|currency:currency.code |floatformat:2}} {{ currency.symbol }} </strong></p>
                     {% else %}
                    <p><strong> {{product.price|currency:currency.code |floatformat:2}} {{ currency.symbol }} </strong></p>
                    {% endif %}				<!-- product size  missing -->
				<a data-product={{product.id}} data-action="add" class="btn update-cart">Add to Cart</a>
				<a data-product={{product.id}} data-action="add" class="btn update-wishlist">Add to Wishlist</a>
				<h3>{{ product.description }}</h3>
				<br>
				<p></p>
			</div>  
		</div>
		
	<!--------------------------------- Title ------------------------------> 

	<br><br><br>



 <!-- Recommended products -->
	<div class="small-container">
		<h2>Recommended Products</h2>
        <div class="row">
            {% for recproduct in products %}
			{% if recproduct.id == product.id %}
			{% else %}
                <div class="col-4">

                    <form id="{{recproduct.id}}" action="{% url 'product_details' %}" method="get">
                        <input type="hidden" name="productId" value="{{recproduct.id}}">
                        <a href="javascript:{}" onclick="document.getElementById('{{recproduct.id}}').submit();" ><img src="{{recproduct.image.url}}"></a>
                    </form>

                    <h4><strong> {{recproduct.name}} </strong></h4>
					<div class="rating">
						<i class="fa fa-star{% if recproduct.total_review < 0.5 %}-o empty{% elif recproduct.total_review < 1 %}-half-o{% endif %}"></i>
						<i class="fa fa-star{% if recproduct.total_review < 1.5 %}-o empty{% elif recproduct.total_review < 2 %}-half-o{% endif %}"></i>
						<i class="fa fa-star{% if recproduct.total_review < 2.5 %}-o empty{% elif recproduct.total_review < 3 %}-half-o{% endif %}"></i>
						<i class="fa fa-star{% if recproduct.total_review < 3.5 %}-o empty{% elif recproduct.total_review < 4 %}-half-o{% endif %}"></i>
						<i class="fa fa-star{% if recproduct.total_review < 4.5 %}-o empty{% elif recproduct.total_review < 5 %}-half-o{% endif %}"></i>
						<a data-product={{recproduct.id}} data-action="add" class="btn_allproducts update-cart">Add to Cart</a>
					</div>
                    {% if request.user.customer.new == True and recproduct.discount_price < recproduct.price %}
                    <p><strong> {{recproduct.price|currency:currency.code |floatformat:2}} {{ currency.symbol }} </strong></p>
                    <p><strong style="color:red;">Offer Price {{recproduct.discount_price|currency:currency.code |floatformat:2}} {{ currency.symbol }} </strong></p>
                     {% else %}
                    <p><strong> {{recproduct.price|currency:currency.code |floatformat:2}} {{ currency.symbol }} </strong></p>
                    {% endif %}
				</div>
			{% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<br>

 <!-- Review products -->
<div class="small-container">
		<div class="col-2">
			<h4>Write Your Review</h4>
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-success" role="alert">
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
			<form class="rate_form" action="/products/add_review/{{ product.id }}" method="post">
				{% csrf_token %}
				<div>
					<input name="subject" class="input" type="text" placeholder="Your Subject"/>
				</div>

				<div>
					<textarea name="comment" class="input" placeholder="Your Review"></textarea>
				</div>

				<div class="rating">
					<strong>Your Rating: </strong>
					<div id="rating-form"> 
						<span class="rating-star">
							<input type="radio" name="rate" value="5"><span class="star"></span>
							<input type="radio" name="rate" value="4"><span class="star"></span>
							<input type="radio" name="rate" value="3"><span class="star"></span>
							<input type="radio" name="rate" value="2"><span class="star"></span>
							<input type="radio" name="rate" value="1"><span class="star"></span>
						</span>
					</div>
				</div>
				{% if request.user.id is not None %}
					<button type="submit" class="btn" style="width:160px; height:34px; font-size:12px">Submit</button>
					{% else %}
						You must be logged in to post a review.
				{% endif %}
			</form>
			<br>
		</div>
		<div class="col-2">
			{% for review in reviews %}
				<div class="single_review">
					<div class="review_header">
						<div><a href="#"><i class="fa fa-user-o"></i> {{ review.user.first_name }} </a> <i class="fa fa-clock-o">{{ review.create_at }}</i></div>
						<div><b>{{ review.subject }}</b> </div>
						<div class="rating">
							<i class="fa fa-star{% if review.rate < 1 %}-o empty{% endif %}"></i>
							<i class="fa fa-star{% if review.rate < 2 %}-o empty{% endif %}"></i>
							<i class="fa fa-star{% if review.rate < 3 %}-o empty{% endif %}"></i>
							<i class="fa fa-star{% if review.rate < 4 %}-o empty{% endif %}"></i>
							<i class="fa fa-star{% if review.rate < 5 %}-o empty{% endif %}"></i>
						</div>
					</div>
					<div class="review_body">
						{{ review.comment }}
					</div>
					<br>
				</div>
				{% empty %}
					<div class="single_review">
						<p>No reviews yet...</p>
					</div>
				<br>
			{% endfor %}
		</div>
		<br>
	</div>
</div>
<br><br><br>	

{% endblock body%}  