{% extends "products/main.html" %}
{% load static %}
{% load currency %}

{% block NavBar %}
	{% if request.user.is_authenticated %}
		<li><a href="{% url 'index' %}">Home</a></li>
		<li><a href="{% url 'products' %}">Products</a></li>
		{% if request.user.customer.isseller == True %}
			<li><a href="{% url 'dashboard' %}">Dashboard</a></li>
		{% endif %}
		<li><a href="">About</a></li>
		<li><a href="">Contact</a></li>
		<li><p id="cart-total">{{cartItems}}</p>
			<a href="{% url 'cart' %}"><img src="{% static 'users/images/cartIcon.svg' %}" alt="cart icon" style="position: relative; transform: translateY(6px)" width="30px"class="icon"></a>
		<li><img src="{{request.user.customer.image.url}}" alt="profile pic" id="SellerImg" onclick="dropMenu()">
			<ul id="navDropdownMenu">
				<li><a href="{% url 'wishlist' %}">Wishlist</a></li>
				<li>Help</li>
				<li><a href="{% url 'profile' %}">Profile</a></li>
				<hr>
				<li><a href="{% url 'logout' %}">Logout</a></li>
			</ul>
		</li>
	{% else %}
		<li><a href="{% url 'index' %}">Home</a></li>
		<li><a href="{% url 'products' %}">Products</a></li>
		<li><a href="">About</a></li>
		<li><a href="">Contact</a></li>
		<li><a href="{% url 'account' %}">Account</a></li>
	{% endif %}
{% endblock NavBar %}

{% block body%}
<!-- Single product deatils -->
<div class="single-product">
	<div class="small-container">
		<br><br><br>
		<div class="row">
			<div class="col-2">

				<div class="small-img-row">
					<div class="small-img-col">
						<img src="{{product.image.url}}"  class="small-img">
					</div>
				</div>
			</div>
			<div class="col-2">
				<p>Home / {{ product.category }}</p>
				<!-- product seller name -->
				<h1> {{ product.name }}</h1>
				<h3> By Seller:  {{ product.seller }}</h3>
				<div class="rating">
					<i class="fa fa-star"></i>
 					<i class="fa fa-star"></i>
 					<i class="fa fa-star"></i>
					<i class="fa fa-star-half-o"></i>
					<i class="fa fa-star-o"></i>
				</div>
				<h4>In stock: {{product.quantity}}</h4>
                    {% if request.user.customer.new == True and product.discount_price < product.price %}
                    <p><strong> {{product.price|currency:currency.code |floatformat:2}} {{ currency.symbol }} </strong></p>
                    <p><strong style="color:red;">Offer Price {{product.discount_price|currency:currency.code |floatformat:2}} {{ currency.symbol }} </strong></p>
                     {% else %}
                    <p><strong> {{product.price|currency:currency.code |floatformat:2}} {{ currency.symbol }} </strong></p>
                    {% endif %}				<!-- product size  missing -->
				<a data-product={{product.id}} data-action="add" class="btn update-cart">Add to Cart</a>
				<a data-product={{product.id}} data-action="add" class="btn update-wishlist">Add to Wishlist</a>
				<h3>{{ product.description }}</h3>
				<br>
				<p></p>
			</div>  
		</div>
	</div>

	<!--------------------------------- Title ------------------------------> 

	<br><br><br>



 <!-- Recommended products -->
	<div class="small-container">
		<h2>Recommended Products</h2>
        <div class="row">
            {% for recproduct in products %}
			{% if recproduct.id == product.id %}
			{% else %}
                <div class="col-4">

                    <form id="{{recproduct.id}}" action="{% url 'product_details' %}" method="get">
                        <input type="hidden" name="productId" value="{{recproduct.id}}">
                        <a href="javascript:{}" onclick="document.getElementById('{{recproduct.id}}').submit();" ><img src="{{recproduct.image.url}}"></a>
                    </form>

                    <h4><strong> {{recproduct.name}} </strong></h4>
                        <div class="rating" >

                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <a data-product={{recproduct.id}} data-action="add" class="btn_allproducts update-cart">Add to Cart</a>
                    </div>
                    {% if request.user.customer.new == True and recproduct.discount_price < recproduct.price %}
                    <p><strong> {{recproduct.price|currency:currency.code |floatformat:2}} {{ currency.symbol }} </strong></p>
                    <p><strong style="color:red;">Offer Price {{recproduct.discount_price|currency:currency.code |floatformat:2}} {{ currency.symbol }} </strong></p>
                     {% else %}
                    <p><strong> {{recproduct.price|currency:currency.code |floatformat:2}} {{ currency.symbol }} </strong></p>
                    {% endif %}
				</div>
			{% endif %}
            {% endfor %}
        </div>
    </div>

</div>
{% endblock body%}  